* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.container {
  display: flex;
}
.left-container {
  /* background-color: orange; */
  flex: 1;
  padding: 1rem;
}
.right-container {
  /* background-color: dodgerblue; */
  flex: 1;
  padding: 1rem;
}
hr {
  font-size: 30px;
  border: 1px solid green;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
