* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin-top: 2rem;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}
p{
  max-width: 300px;
}

@media (max-width: 350px) {
  .wrapper{
    margin: 1rem;
  }
}